name: Build

concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          path: src

      - name: Checkout builds branch
        uses: actions/checkout@v4
        with:
          ref: builds
          path: builds

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build Plugins
        run: |
          cd "$GITHUB_WORKSPACE/src"
          chmod +x gradlew
          ./gradlew make generateUpdaterJson
          cp **/build/*.zip "$GITHUB_WORKSPACE/builds" || true
          cp build/updater.json "$GITHUB_WORKSPACE/builds"

      - name: Push builds
        run: |
          cd "$GITHUB_WORKSPACE/builds"
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add .
          git commit -m "Build $GITHUB_SHA" || true
          git push